<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>cla</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/assets/homepage/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/assets/homepage/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/assets/homepage/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/assets/homepage/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/assets/homepage/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/assets/homepage/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
               <li data-target="#banner1" data-slide-to="3"></li>
               <li data-target="#banner1" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h2 style="color:white;"> Accessories </h2>
                                 <span> For Computer And Laptop</span>
                                 <p style="color:white;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                     <%= button_to "Explore Products", products_path, method: :get, class: "mb-3 btn btn-success btn-lg" %>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <img src="/assets/homepage/pct.png" alt="#"/>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h2 style="color:white;">Fresh Veggies</h2>
                                 <span>Directly From Farms</span>
                                 <p style="color:white;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                     <%= button_to "Explore Products", products_path, method: :get, class: "mb-3 btn btn-success btn-lg" %>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <img src="/assets/homepage/page2.png" alt="#"/>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h2 style="color:white;"> Special Offs </h2>
                                 <span>On Groceris</span>
                                 <p style="color:white;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                     <%= button_to "Explore Products", products_path, method: :get, class: "mb-3 btn btn-success btn-lg" %>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <img src="/assets/homepage/page3.png" alt="#" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h2 style="color:white;"> Trending Men's</h2>
                                 <span>Clothing</span>
                                 <p style="color:white;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                     <%= button_to "Explore Products", products_path, method: :get, class: "mb-3 btn btn-success btn-lg" %>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <img src="/assets/homepage/page4.jpg" alt="#"/>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h2 style="color:white;"> Fashionable</h2>
                                 <span>Women's Wearables</span>
                                 <p style="color:white;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                     <%= button_to "Explore Products", products_path, method: :get, class: "mb-3 btn btn-success btn-lg" %>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <img src="/assets/homepage/page5.jpg" alt="#" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="/assets/homepage/thr.png" alt="#"/></i>
                     <h3>Computer</h3>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="/assets/homepage/thr1.png" alt="#"/></i>
                     <h3>Laptop</h3>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="/assets/homepage/thr2.png" alt="#"/></i>
                     <h3>Tablet</h3>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- three_box -->
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">              
                  <div class="titlepage">
                     <h2>Available Categories</h2>
                  </div>                 
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product2.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Computer", product_path(Product.find_by(description: "Acer Gaming")), class: " mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product1.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Laptop", product_path(Product.find_by(description: "Dell XPS 13")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product3.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Tablet", product_path(Product.find_by(description: "Apple iPad")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product4.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Speaker", product_path(Product.find_by(description: "Modemista")), class: " mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product5.png" alt="#" width="200" height="200" /></figure>
                                <%= link_to "Router", product_path(Product.find_by(description: "TP-LINK Beast")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product6.png" alt="#" width="200" height="200" /></figure>
                               <%= link_to "Hard Disk", product_path(Product.find_by(description: "Toshiba 500 GB")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product7.png" alt="#" width="200" height="200"/></figure>
                                  <%= link_to "RAM", product_path(Product.find_by(description: "Dell Ram 4x4 GB")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product8.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Laptop Battery", product_path(Product.find_by(description: "HP Battery")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product9.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Optical CD Drive Reader", product_path(Product.find_by(description: "Asus CD Drive Reader")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product10.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Mouse", product_path(Product.find_by(description: "Alienware Mouse")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product11.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Keyboard", product_path(Product.find_by(description: "Dell Keyboard")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product12.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Webcam", product_path(Product.find_by(description: "Lenovo Hd Webcam")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product13.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Men's Clothes", product_path(Product.find_by(description: "Shirt For Men")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product14.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Women's Clothes", product_path(Product.find_by(description: "T-Shirt For Women")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="/assets/homepage/product15.png" alt="#" width="200" height="200"/></figure>
                                <%= link_to "Vegetables", product_path(Product.find_by(description: "Eatables")), class: "mt-5  btn btn-primary btl-lg" %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
      <!-- laptop  section -->
      <div class="laptop">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="titlepage">
                     <p>With Every Computer and Laptop</p>
                     <h2>Up to 40% off !</h2>
                      <%= button_to "Shop Now", products_path, method: :get, class: "mt-5   btn btn-danger btn-lg" %>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="laptop_box">
                     <figure><img src="/assets/homepage/pc.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end laptop  section -->
      <!-- customer -->
      <div class="customer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Customer Review</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators" style="margin-left:30rem;">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="/assets/homepage/cos.png" alt="#"/></i>
                                          <h4>Sandy Miller</h4>
                                          <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="/assets/homepage/cos.png" alt="#"/></i>
                                          <h4>John Watson</h4>
                                          <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="/assets/homepage/cos.png" alt="#"/></i>
                                          <h4>Carla Smith</h4>
                                          <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end customer -->
     
      <!-- Javascript files-->
      <script src="/assets/homepage/jquery.min.js"></script>
      <script src="/assets/homepage/popper.min.js"></script>
      <script src="/assets/homepage/bootstrap.bundle.min.js"></script>
      <script src="/assets/homepage/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/assets/homepage/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/assets/homepage/custom.js"></script>
   </body>
</html>

