<!DOCTYPE html>
<html>
  <head>
    <title>OnShopSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "telephone", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "util", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


     <!-- Telephone links -->
      <link rel="stylesheet" href="/assets/styles.css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
      />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

   
     <!-- Sign-In-Up Ui links -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/assets/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
      <script src="/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
      <script src="/assets/vendor/bootstrap/js/popper.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
      <script src="/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
      <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
      <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
      <script src="/assets/vendor/countdowntime/countdowntime.js"></script>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '610824940824786',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

      (function() {
      "use strict";
      if (window.location && window.location.hash) {
          if (window.location.hash === '#_=_') {
              window.location = '/';
              return;
          }
          var facebookFubarLoginHash = RegExp('_\=_', 'g');
          window.location.hash = window.location.hash.replace(facebookFubarLoginHash,'');
      }
      }()); 



  </script>
      
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

  <script>
    if (window.location.href == 'https://onshopsystem.onrender.com/users/sign_up' || window.location.href == 'https://onshopsystem.onrender.com/users/sign_in' || window.location.href == 'https://onshopsystem.onrender.com/users/edit' || window.location.href.match('https://onshopsystem.onrender.com/edit_user_profile') || window.location.href == 'http://localhost:3000/users/sign_up' || window.location.href == 'http://localhost:3000/users/sign_in' || window.location.href == 'http://localhost:3000/users/edit' || window.location.href.match('http://localhost:3000/edit_user_profile')) {
      
      const phoneInputField = document.querySelector("#phone");
      const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
      });

      function setVisibleFields(){
        document.getElementById('phone').value='+'+phoneInput.getSelectedCountryData().dialCode; 
        console.log("VisibleFieldsSet");
      }

      function setDeleteHiddenField(){
        document.getElementById('delete_account').value= "true"; 
        console.log("setDeleteHiddenFieldSet");
      }

      function setDisableHiddenField(){
        document.getElementById('disable_two_factor').value= "true"; 
        console.log("setDisableHiddenFieldSet");
      }
      

      function setHiddenFields(){
        document.getElementById('country_code_symbol').value= phoneInput.getSelectedCountryData().iso2; 
        document.getElementById('phone_number').value=document.getElementById('phone').value.replace('+'+phoneInput.getSelectedCountryData().dialCode,""); 
        console.log("HiddenFieldsSet");
      }
      
      flag =document.getElementsByClassName('iti__flag-container')[0];
      phoneInput.setCountry("in");
      setVisibleFields();
      flag.addEventListener('click', setVisibleFields);
    }
  </script>

  <script>

  function setPageLoadOnce()
  {
    console.log("pageloadonceSet");
    localStorage.setItem("pageloadonce",1);
  }

  function preview(e) {
    console.log("e.value"+e.value);
    var input = document.getElementById("pic_sel");
    console.log("yhhhhhhhhhhhhhh",input);
    var fReader = new FileReader();
    fReader.readAsDataURL(input.files[0]);
    fReader.onloadend = function(event){
    var img = document.getElementById("profile_pic");
    img.src = event.target.result;  
  }}


  function link_click()
  {
    console.log("link_click");
    localStorage.setItem("timeOut",30);
    window.onload = function(){ 
                                console.log("onload"+localStorage.getItem("timeOut")); 
                                if(localStorage.getItem("timeOut")>-1)
                                {  
                                  document.querySelector('#otp_link').style.pointerEvents = "none";
                                  document.querySelector('#otp_link').style.cursor = "default";
                                  document.querySelector('#otp_link').style.color = "Gray";
                                }
                                
                                enableBtnObj = setTimeout(enableBtn, localStorage.getItem("timeOut")*1000+1000);

                                function enableBtn()
                                {
                                  console.log("en");
                                  document.querySelector('#otp_link').style.pointerEvents = "all";
                                  document.querySelector('#otp_link').style.cursor = "pointer";
                                  document.querySelector('#otp_link').style.color = "Blue";
                                  document.querySelector('#link_timer').innerHTML = ""; 
                                  clearTimeout(timerObj);
                                  clearTimeout(enableBtnObj);
                                  localStorage.setItem("pageloadonce",0);
                                  localStorage.setItem("timeOut",-1);
                                }
      
                                
                                function myLoop() {         //  create a loop function
                                timerObj = setTimeout(function() {   //  call a 3s setTimeout when the loop is called
                                  console.log(localStorage.getItem("timeOut"));
                                  document.querySelector('#link_timer').innerHTML = localStorage.getItem("timeOut");   
                                  localStorage.setItem("timeOut", localStorage.getItem("timeOut")-1);
                                    if (localStorage.getItem("timeOut") > -1) {           //  if the counter < 10, call the loop function
                                      myLoop();             //  ..  again which will trigger another 
                                    }                       //  ..  setTimeout()
                                  },1000)
                                }

                                myLoop();  
                                localStorage.setItem("pageloadonce",0);
    };

  }



  if (window.location.href == 'https://onshopsystem.onrender.com/phone_otp_reg' || window.location.href == 'https://onshopsystem.onrender.com/phone_otp' || window.location.href == 'http://localhost:3000/phone_otp_reg' || window.location.href == 'http://localhost:3000/phone_otp') {

    let data=window.performance.getEntriesByType("navigation")[0].type;

    if (data=="reload" || localStorage.getItem("pageloadonce")==1) 
    {         
        localStorage.setItem("timeOut",30);    

        function timer(){

        console.log("onload"+localStorage.getItem("timeOut")); 
        if(localStorage.getItem("timeOut")>-1)
        {  
          document.querySelector('#otp_link').style.pointerEvents = "none";
          document.querySelector('#otp_link').style.cursor = "default";
          document.querySelector('#otp_link').style.color = "Gray";
        }

        
        function enableBtn()
        {
          console.log("en");
          document.querySelector('#otp_link').style.pointerEvents = "all";
          document.querySelector('#otp_link').style.cursor = "pointer";
          document.querySelector('#otp_link').style.color = "Blue";
          document.querySelector('#link_timer').innerHTML = ""; 
          clearTimeout(timerObj);
          clearTimeout(enableBtnObj);
          localStorage.setItem("pageloadonce",0);
          localStorage.setItem("timeOut",-1);
        }


        enableBtnObj = setTimeout(enableBtn, localStorage.getItem("timeOut")*1000+1000);

        
        function myLoop() {         //  create a loop function
        timerObj = setTimeout(function() {   
          console.log(localStorage.getItem("timeOut"));
          document.querySelector('#link_timer').innerHTML = localStorage.getItem("timeOut");   
          localStorage.setItem("timeOut", localStorage.getItem("timeOut")-1);
            if (localStorage.getItem("timeOut") > -1) {          
              myLoop();             //  ..  again which will trigger another 
            }                       //  ..  setTimeout()
          },1000)
        }

        myLoop();  

        localStorage.setItem("pageloadonce",0);
      }
      console.log("called");
      setTimeout(timer,1000);
    }


    if (data=="navigate" && localStorage.getItem("pageloadonce")==0) 
    { console.log("navigate||pagereload=0");
      console.log("nav");
      window.onload = function(){
                                if(localStorage.getItem("timeOut")>-1)
                                {  
                                  document.querySelector('#otp_link').style.pointerEvents = "none";
                                  document.querySelector('#otp_link').style.cursor = "default";
                                  document.querySelector('#otp_link').style.color = "Gray";
                                }
                                function enableBtn()
                                {
                                document.querySelector('#otp_link').style.pointerEvents = "all";
                                document.querySelector('#otp_link').style.cursor = "pointer";
                                document.querySelector('#otp_link').style.color = "Blue";
                                document.querySelector('#link_timer').innerHTML = ""; 
                                clearTimeout(timerObj);
                                clearTimeout(enableBtnObj);
                                localStorage.setItem("pageloadonce",0);
                                localStorage.setItem("timeOut",-1);
                                }

                                enableBtnObj = setTimeout(enableBtn, localStorage.getItem("timeOut")*1000+1000);
                                            
                                function myLoop() {         //  create a loop function
                                  timerObj = setTimeout(function() {   //  call a 3s setTimeout when the loop is called
                                  console.log(localStorage.getItem("timeOut"));
                                  document.querySelector('#link_timer').innerHTML = localStorage.getItem("timeOut");   
                                  localStorage.setItem("timeOut", localStorage.getItem("timeOut")-1);
                                    if (localStorage.getItem("timeOut") > -1) {           //  if the counter < 10, call the loop function
                                      myLoop();             //  ..  again which will trigger another 
                                    }                       //  ..  setTimeout()
                                  },1000)
                                }

                                myLoop();  

                                localStorage.setItem("pageloadonce",0);

      }; 
    }
  } 
  </script>
</html>
