
<div class="container">

<% if (@articles == nil) %>

<%    @articles = articles %> <%# from categories %>

<% end %>

<% @articles.each do |article| %>
<div class="row justify-content-md-center">
<div class="col-8 mt-4">
<div class="card text-center shadow-sm mb-5 bg-body rounded">
  <div class="card-header fst-italic">
    By <%= link_to article.user.username, user_path(article.user) %>
    <div class="mt-2">
    <%= link_to gravatar_for(article.user), user_path(article.user) %>
    <% if article.categories.any? %>
    <div class="mt-2"><%= render partial: 'categories/categories_badge', locals: {article: article}  %></div> 
    <% end %>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"> Title : <%= link_to  article.title, article_path(article), class: "text-success" %></h5>
    <br>
    <div class="card-text">Description :<%= truncate(article.des, length: 100)%></div>
    <br>
   <div class="container_buttons">
            <%= link_to "View Article", article_path(article), class: "btn btn-outline-primary" %>
            <% if logged_in? && (article.user == current_user || current_user.admin?) %>
              <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-outline-info" %>
              <%= button_to 'Delete Article', article_path(article),
              method: :delete,
              form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-outline-danger", id: "delete_button_index" %>
            <% end %>
          
        </div>    
    
  </div>
  <div class="card-footer text-muted">
   <small> Created <%= time_ago_in_words(article.created_at) %> ago , Edited <%= time_ago_in_words(article.updated_at) %> ago </small>
  </div>
  </div>
  </div>
</div>
<% end %>
<div class="pb-3">
</div>

