
<div class="container">
<% @users.each do |user| %>
<div class="row justify-content-md-center">
<div class="col-8 mt-4">
<div class="card text-center shadow-sm mb-5 bg-body rounded">
  <div class="card-body">
  <%= gravatar_for user, size: 200 %>
  <br>
    <h5 class="card-title"> Username : <%= link_to  user.username, user_path(user), class: "text-success" %></h5>
    <div class="card-text">Email :<%= truncate(user.email, length: 100)%></div>
    <br>
    <p class="card-text"> Articles Count : <%= user.articles.count %></p>
    <br>
   <div class="container_buttons">
             <%= link_to "View Profile", user_path(user), class: "btn btn-outline-warning mb-3" %>
            
             <% if logged_in? %>
                  <% if user == current_user || current_user.admin? %>
                        <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info mb-3" %>
                  <% end %>
                  <br>
                  <% if current_user.admin? %>
                        <%= button_to 'Delete Profile', user_path(user),
                        method: :delete,
                        form: { data: { turbo_confirm: 'Are you sure you want to delete the user account and all associated articles?' } }, class: "btn btn-outline-danger mb-3"%>
                  <% end %> 
            <% end %>
                   <br>
           
        </div>    
    
  </div>
  <div class="card-footer text-muted">
   <small> Joined: <%= time_ago_in_words(user.created_at) %> ago , Updated: <%= time_ago_in_words(user.updated_at) %> ago </small>
  </div>
  </div>
  </div>
</div>
<% end %>
<div class="pb-3">
</div>

  